In [2]:
name= input("Enter name=")
age= input("Enter age=")
print(f"Greetings {name} of {age}")

Enter name=amal
Enter age=6
Greetings amal of 6

In [5]:
a = input("Enter element=")
try:
  int_value = int(a)
  print("INT")
except ValueError:
  try:
    float_value = float(a)
    print("FLOAT")
  except ValueError:
    print("STRING")

Enter element=1.2
FLOAT

In [6]:
temp = ["a","b","c"]
temp.append("d")
temp.remove("a")
for i in range(3):
  print(temp[i].upper())

B
C
D

In [10]:
temp = (1,2,3,4)
(a,b,*c) = temp
print(a,b)

1 2

In [9]:
students = {'Ali': 'A', 'Basam': 'B', 'Charlie': 'B+','Delta':'F','Eren': 'A-'}
print(students)

{'Ali': 'A', 'Basam': 'B', 'Charlie': 'B+', 'Delta': 'F', 'Eren': 'A-'}

In [ ]:
list1 = []
list2 = []
for i in range(4):
  a = int(input("Enter value for list 1="))
  b = int(input("Enter value for list 1="))
  list1.append(a)
  list2.append(b)
set1 = set(list1)
set2 = set(list2)
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)

In [ ]:
n = int(input("Enter an integer: "))

if n > 0:
    print("+ve")
elif n < 0:
    print("-ve")
else:
    print("0")

print("Even" if n % 2 == 0 else "Odd")

In [ ]:
for i in range(1, 51):
  if i % 3 == 0 and i % 5 == 0:
      print("FizzBuzz")
  elif i % 3 == 0:
      print("Fizz")
  elif i % 5 == 0:
      print("Buzz")
  else:
      print(i)

In [ ]:
def fac(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

n = int(input("Enter a non-negative integer: "))
print(fac(n))

In [14]:
def prime(n):
    if n < 2:
        return False
    for i in range(2, int(n/2) + 1):
        if n % i == 0:
            return False
    return True

n = int(input("Enter a number: "))
print("Prime" if prime(n) else "Not Prime")

Enter a number: 23
Prime

In [ ]:
def squares(n):
    return [x**2 for x in n]

temp =[]
for i in range(10):
  temp.append(int(input("Enter")))

print(squares(temp))

In [16]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 20, "c": 30, "d": 40}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 20, 'c': 30, 'd': 40}

In [15]:
temp =[]
for i in range(10):
  temp.append(int(input("Enter")))
set1 = set(temp)
temp = list(set1)
print(temp)

Enter1
Enter1
Enter1
Enter1
Enter1
Enter1
Enter2
Enter2
Enter2
Enter2
[1, 2]

In [18]:
palindrome = lambda s : s == s[::-1]
palindrome("colc")

False

In [20]:
n = int(input("Enter range="))
a=0
b=1
for i in range(n):
  print(b)
  a,b = b,a+b

Enter range=4
1
1
2
3

In [23]:
temp = []
while(len(temp) != 5):
    num = input("Enter=")
    try:
        temp.append(float(num))
    except ValueError:
        print("Invalid")

print("Average=", sum(temp) / len(temp))

Enter=1
Enter=a
Invalid
Enter=1
Enter=2
Enter=3
Enter=1
Average= 1.6

In [33]:
my_dict = {}

u = input("Enter username= ")
p = input("Enter password= ")
my_dict[u] = p
print("Registration successful!")

u = input("Enter username= ")
p = input("Enter password= ")
if my_dict.get(u) == p:
    print("Login successful!")
else:
    print("Invalid credentials.")

Enter username= amal
Enter password= 1243
Registration successful!
Enter username= amal
Enter password= 1243
Login successful!

In [32]:
w = input("Enter words=").split()
my_dict = {}
for x in w:
    my_dict[x] = my_dict.get(x, 0) + 1
print(my_dict)

Enter words=amal a b c d d
{'amal': 1, 'a': 1, 'b': 1, 'c': 1, 'd': 2}

In [31]:
c = input("a)Celsius to Fahrenheit \nb)Fahrenheit to Celsius? ").lower()
temp = float(input("Enter temperature: "))

if c == "a":
    print("Fahrenheit:", (temp * 9/5) + 32)
elif c == "b":
    print("Celsius:", (temp - 32) * 5/9)
else:
    print("Invalid")

a)Celsius to Fahrenheit
b)Fahrenheit to Celsius? b
Enter temperature: 12.6
Celsius: -10.777777777777779